.browse-list { overflow-y: auto; }
.browse-list li { padding: 4px 16px; font-weight: bold; font-family: arial; }
.browse-list li:nth-child( odd ) { background-color: lightcoral; }
.browse-list li:nth-child( even ) { background-color: lightskyblue; }
.browse-list li:hover { background-color: lightgreen; }

.button { width: 5em; height: 5em; padding: 4px; cursor: pointer; margin: 1px; }
.button:hover { background-color: var(--secondary-bg-color); outline: 1px solid #000; }

.button svg { height: 100%; width: 100%; }

form > * { width: 100%; }

.browse.browse-short { max-height: 180px; overflow-y: auto; }
.browse.browse-short .toggle { filter: hue-rotate(90deg); }

form textarea { resize: vertical; min-height: 192px; }
form textarea.ck-edit { display: none; }

.ck-content { font-family: arial; color: #000; }
.ck-content * { margin: 1em 0; }
.ck-content ul { margin-left: 1em; }
.ck-content table * { margin: 2px; }

.snippets-panel { max-height: 100vh; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "read edit edit"
        "browse edit edit"
        "browse edit edit"
        "browse edit edit";
}
.snippets-panel > * { overflow-y: auto; }

.snippets-panel > *:nth-child(1) { grid-area: read; }
.snippets-panel > *:nth-child(2) { grid-area: browse; }
.snippets-panel > *:nth-child(3) { grid-area: edit; }

