:root {
	--main-text-color: #27648a;
	--secondary-text-color: #5f278a;
	--main-bg-color: #f0f0f0d9;
	--secondary-bg-color: #748487a6;
	--snippet-good-color: #eccf42;
	--snippet-very-good-color: #b9f2ff;
}